section(class="se-about" id="about")
    div.container
        div.row
            div(class="bor-out col-lg-6 col-sm-12")
                img(src="images/about.png", alt="" class="img-fluid d-block img-thumbnail mt-3")
            div(class="cot_about col-lg-6 col-sm-12")
                div(class="mt-3")
                    h1 about us
                    h4.mt-4 Hello! we're <span class="persant">Ahl elsonnah</span>
                    p.mt-4 We aim to provide excellent technical value and service to all our valued customers by educating the team and making a lot and a lot of efforts to reach an excellent service and achieve the desired goal in a wonderful way, we publish our ads through the quality of our Service.
                    p We initially understand the service that you want us to implement well before implementation and then we implement a strategy specifically designed to ensure that the best results for your Target are successfully reached, and we can ensure that our services will enhance your business and acquire satisfaction by your customers.
                    p Ahl al-Sunna company provides many services with an excellent level of service in many fields, such as graphic design (2D, 3D), software development (web, Android, desktop), E-Marketing on many platforms, photographing and editing advertising video clips and the useful contents on social media platforms, the ability to do installation work for all types of cameras and security and surveillance systems and Supply all required devices that serve your target.
                    a(href="https://www.linkedin.com/company/ae912396" class="socail" target="_blank")
                        i(class="fab fa-linkedin-in")
                    a(href="https://twitter.com/AE912396" class="socail" target="_blank")
                        i(class="fab fa-twitter")
                    a(href="https://www.facebook.com/AE912396" class="socail" target="_blank")
                        i(class="fab fa-facebook-f")