section(class="se_footer text-center" id="footer")
    div.container
        div(class="botm-footer md-3")
            ul(class="list-unstyled list-inline")
                li.list-inline-item
                    a(href="https://www.linkedin.com/company/ae912396" class="socail" target="_blank")
                        i(class="fab fa-linkedin-in")
                li.list-inline-item
                    a(href="https://twitter.com/AE912396" class="socail" target="_blank")
                        i(class="fab fa-twitter")
                li.list-inline-item
                    a(href="https://www.facebook.com/AE912396" class="socail" target="_blank")
                        i(class="fab fa-facebook-f")
            p 2020 - 2024 © Ahl-Elsonnah. Design by AHLElsonnah.
