header#home
    div.overlay
        nav(class="navbar fixed-top navbar-expand-lg")
            div.container
                h1(class="navbar-brand")
                    img(id="logo" src="images/logo 1.png" width="70px" height="60px")
                    img(id="logo2" src="images/logo 2.png" width="70px" height="60px")
                    a(href="#") Ahl elsonnah
                button(class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                    i(class="fas fa-bars")
                div(class="collapse navbar-collapse marginLeft" id="navbarNav")
                    ul.navbar-nav
                        li(class="nav-item" )
                            a( href="#" class="nav-link" data-target="home" class="ching") home
                        li(class="nav-item")
                            a( href="#" class="nav-link" data-target="about") about
                        li(class="nav-item ")
                            a( href="#" class="nav-link" data-target="services") services
                        li(class="nav-item")
                            a( href="#" class="nav-link" data-target="team") team
                        //- li(class="nav-item ")
                        //-     a( href="#" class="nav-link" data-target="works") works
                        li(class="nav-item")
                            a( href="#" class="nav-link" data-target="our-part") Our clients
        section(class="se-content")
            div(class="table")
                div(class="table-cell")
                    div(class="container")
                        div.row
                            div.col-lg-12
                                div(class="content-header")
                                    h4.mb-4 welcome
                                    h1
                                        span(id="move")
                                    p.mt-4 we're pleased to offer you our wonderful services, do not miss the opportunity and faster to inquire <br>about the current discounts that amount to <span class="persant">70%</span> of the original cost on our services <br> Cal Us Now ... Let's TALK
                                    div(class="Dportfolio mt-4 pt-2")
                                        a(href="#" download) Download portfolio
                                    div(class="arrow mt-6")
                                        a(href="#" data-target="about")
                                            i()
