section(class="se-team text-center" id="team")
    div.container
        div(class="text")
            h2 Our team
            p.mt-3 The team of Ahl Elsonnah for Software, Media and Marketing is always striving to develop itself and its skills to reach <br> distinction and professionalism to win your honorable admiration.

        div.row
            div(class="col-lg-12 mt-4 pt-4")
                div(id="carouselExampleIndicators" class="carousel slide" data-ride="carousel")
                    ol(class="carousel-indicators")
                        li(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
                        li(data-target="#carouselExampleIndicators" data-slide-to="1")
                        li(data-target="#carouselExampleIndicators" data-slide-to="2")
                        li(data-target="#carouselExampleIndicators" data-slide-to="3")
                        li(data-target="#carouselExampleIndicators" data-slide-to="4")
                        li(data-target="#carouselExampleIndicators" data-slide-to="5")
                        li(data-target="#carouselExampleIndicators" data-slide-to="6")
                        li(data-target="#carouselExampleIndicators" data-slide-to="7")
                        li(data-target="#carouselExampleIndicators" data-slide-to="8")
                        li(data-target="#carouselExampleIndicators" data-slide-to="9")
                        li(data-target="#carouselExampleIndicators" data-slide-to="10")
                        li(data-target="#carouselExampleIndicators" data-slide-to="11")

                    div(class="carousel-inner")
                        div(class="carousel-item active")
                            div.mbri-quote
                                i(class="mbri-quote-left d-block")
                            div.mt-2
                                img(src="images/1.png" class="rounded-circle img-thumbnail " alt="..." )
                                p(class="mt-4 font-italic")
                                h4.mt4 #we are heree
                        div(class="carousel-item")
                            div.mbri-quote
                                i(class="mbri-quote-left d-block")
                            div.mt-2
                                img(src="images/2.png" class="rounded-circle img-thumbnail " alt="..." )
                                p(class="mt-4 font-italic") 
                                h4.mt4 #we are here
                        div(class="carousel-item")
                            div.mbri-quote
                                i(class="mbri-quote-left d-block")
                            div.mt-2
                                img(src="images/3.png" class="rounded-circle img-thumbnail " alt="..." )
                                p(class="mt-4 font-italic") 
                                h4.mt4 #we are here
                        div(class="carousel-item")
                            div.mbri-quote
                                i(class="mbri-quote-left d-block")
                            div.mt-2
                                img(src="images/4.png" class="rounded-circle img-thumbnail " alt="..." )
                                p(class="mt-4 font-italic") 
                                h4.mt4 #we are here
                        div(class="carousel-item")
                            div.mbri-quote
                                i(class="mbri-quote-left d-block")
                            div.mt-2
                                img(src="images/5.png" class="rounded-circle img-thumbnail " alt="..." )
                                p(class="mt-4 font-italic") 
                                h4.mt4 #we are here
                        div(class="carousel-item")
                            div.mbri-quote
                                i(class="mbri-quote-left d-block")
                            div.mt-2
                                img(src="images/6.png" class="rounded-circle img-thumbnail " alt="..." )
                                p(class="mt-4 font-italic") 
                                h4.mt4 #we are here
                        div(class="carousel-item")
                            div.mbri-quote
                                i(class="mbri-quote-left d-block")
                            div.mt-2
                                img(src="images/7.png" class="rounded-circle img-thumbnail " alt="..." )
                                p(class="mt-4 font-italic") 
                                h4.mt4 #we are here
                        div(class="carousel-item")
                            div.mbri-quote
                                i(class="mbri-quote-left d-block")
                            div.mt-2
                                img(src="images/8.png" class="rounded-circle img-thumbnail " alt="..." )
                                p(class="mt-4 font-italic") 
                                h4.mt4 #we are here        
                        div(class="carousel-item")
                            div.mbri-quote
                                i(class="mbri-quote-left d-block")
                            div.mt-2
                                img(src="images/9.png" class="rounded-circle img-thumbnail " alt="..." )
                                p(class="mt-4 font-italic") 
                                h4.mt4 #we are here
                        div(class="carousel-item")
                            div.mbri-quote
                                i(class="mbri-quote-left d-block")
                            div.mt-2
                                img(src="images/10.png" class="rounded-circle img-thumbnail " alt="..." )
                                p(class="mt-4 font-italic") 
                                h4.mt4 #we are here
                        div(class="carousel-item")
                            div.mbri-quote
                                i(class="mbri-quote-left d-block")
                            div.mt-2
                                img(src="images/11.png" class="rounded-circle img-thumbnail " alt="..." )
                                p(class="mt-4 font-italic") 
                                h4.mt4 #we are here
                        div(class="carousel-item")
                            div.mbri-quote
                                i(class="mbri-quote-left d-block")
                            div.mt-2
                                img(src="images/12.png" class="rounded-circle img-thumbnail " alt="..." )
                                p(class="mt-4 font-italic") 
                                h4.mt4 #we are here




