section(class="se-works text-center" id="works")
    div.container
        div(class="")
            h2 Our partners
            p.mt-3 (Ahl al-sonnah) company offers you some of the work that contributed to the success of our dear <br> partners with whom we build friendly relations and not only just business. 
        div(class="btu-span butn mt-5")
            span(class="active color" data-filter="*" data-color="red") all
            span(data-filter=".motion") motion
            span(data-filter=".webdesign") software
            span(data-filter=".graphic-design") designs
            span(data-filter=".graphic-design") Ad clips
            span(data-filter=".graphic-design") other
        div(class="row content-item mt-4")
            div(class="col-lg-4 item motion")
                div(class="wor-cont")
                    div(class="wor-hidden")
                        h6 category
                        h5 project title
            div(class="col-lg-4 item webdesign")
                div(class="wor-cont")
                    div(class="wor-hidden")
                        h6 category
                        h5 project title
            div(class="col-lg-4 item graphic-design")
                div(class="wor-cont")
                    div(class="wor-hidden")
                        h6 category
                        h5 project title
        div(class="row content-item")
            div(class="col-lg-4 item motion")
                div(class="wor-cont")
                    div(class="wor-hidden")
                        h6 category
                        h5 project title
            div(class="col-lg-4 item webdesign")
                div(class="wor-cont")
                    div(class="wor-hidden")
                        h6 category
                        h5 project title
            div(class="col-lg-4 item graphic-design")
                div(class="wor-cont")
                    div(class="wor-hidden")
                        h6 category
                        h5 project title
